/* general */
html, body{
    min-height: 100%;
    height: 100%;
    margin: 0;
    width: 100%;
}
body {
    background: #d9ecff;
    color:black;
    font: 14px Arial, sans-serif;
}
header {
    position: fixed;
    height: 75px;
    width: 100%;
    background: #242424;
}
a {
    color: #00B7FF;
}
.bg-ready {
    background-color: #166f4e;
}
h1, h2, h3, h4, h5 {
    font-family: "Amaranth", Arial, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/* alignment */
.flex{
    display: flex; 
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* buttons */
button {
    background:none;
    border:none;
    cursor: pointer;
    padding:5px;
}
button:focus {
}
.btn{
    background: none;
    border: none;
    cursor: pointer;
}
.btn:focus {
    outline:0;
}
/* forms */
.form {
    height: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
}
/* inputs */
input {
    border: 1px solid #ddd;
    border-radius: 2px;
    display: block;
    padding: 8px 5px;
    margin-bottom: 10px;
    width: 100%;
}
/* main */
main {
    height: 100%;
}
/* loader */
#loaderText {
    color: white;
    display: inline-block;
    font-size: 100px;
    font-family: "Amaranth", Arial, sans-serif;
}
#loaderIcon{
    display: inline-block;
    height: 62px;
    margin-left: 20px;
    width: 40px;
}
.loader-layer {
    display: block;
    position: absolute;
    height: 3em;
    width: 3em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
}
.loader-layer:nth-of-type(1) {
    background: #28965e;
    margin-top: 1.5em;
    -webkit-animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
    animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
}
.loader-layer:nth-of-type(2) {
    background: rgba(90, 150, 188, 0.6);
    margin-top: 0.75em;
}
.loader-layer:nth-of-type(3) {
    background: rgba(255, 255, 255, 0.6);
    -webkit-animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
    animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}
/* login */
#login {
    width: 300px;
}
.login-header{
    color: #1f3e5d;
}
#login form button[type="submit"] {
    background: #1f3e5d;
    height: 60px;
    width: 100%;
    color: white;
}
#login input{
    padding: 15px 10px;
}
#loginLinks {
    padding: 0 20px;
}
#loginLinks a {
    color: #1f3e5d;
}
/* app */
#app {
    height: 100%;
    width: 80%;
}
#todoHeader {
    height: 32px;
    padding: 8px 10px;
    margin-bottom: 5px;
    color: #92b1d0;
    font-weight: bold;
    display: flex;
    font-family: "Amaranth", Arial, sans-serif;
}
#todoTitle{
    margin:0;
    width: 20%;
    line-height: 18px;
}
/* user */
#todoUser{
    text-align: right;
    width: 80%;
}
.user-info,
.user-buttons{
    padding-left: 5px;
    display: inline-block;
}
.user-button{
    color: #92b1d0;
    width: 16px;
    height: 16px;
    padding:0;
}
/* todo */
#todoApp{
    max-width: 800px;
    margin:auto;
}
.todo-app-button{
    background: #5cb4ff;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    font-size:16px;
    color:white;
}
#todoAddButton {
    background: #45e897;
    width:65%;
}
#todoShareButton {
    float: right;
    width: 34%;
}
.todo-app-button span {
    margin-left:10px;
}
template-todo{
    border-radius: 5px;
    cursor: pointer;
    margin:5px 0;
}
.todo-body{
    background: white;
    border-radius: 5px;
    table-layout: fixed;
    width: 100%;
}
.todo-body.colour-picker-open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.todo-body.complete{
    opacity: 0.35;
}
.todo-drag-over{
    box-shadow: inset 0px 0px 0px 5px #26d6f3;
}
.todo-body button{
    height:50px;
    width:50px;
}
.todo-child{
    margin-left:15px;
}
.todo-form {
}
.todo-input {
    background: rgba(0, 0, 0, 0.04);
    border: 0;
    font-size: 16px;
    margin:0;
    padding:15px;
}
.todo-input.complete{
    background:rgba(255, 255, 255, 0);
    text-decoration: line-through;
}
.todo-buttons {
    width: 100px;
}
.todo-buttons button {
    font-size:15px;
    margin-left:-4px;
}
.todo-status{
    color: #d0d0d0;
    font-size:20px;
    vertical-align: middle;
    width: 50px;
}
.todo-status.complete{
    color: #3bd24d;
}
.todo-buttons button[disabled]{
    cursor:not-allowed;
    opacity:0.25;
}
.todo-button-collapse-container{
    width:50px;
}
/* user app */
#todoUserApp {
    width: 30%;
}
#todoUserApp button{
    background: #5cb4ff;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size:16px;
    color:white;
}
template-user-links{
    display: block;
    padding: 0 20px;
}
/* template-feedback */
template-feedback{
    border-radius: 5px;
}
.feedback-close{
    background: none;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* colour picker */
.todo-colour-picker{
    background: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.todo-colour-picker div {
    border-radius: 5px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    width: 20px;
}
/* fonts */
@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: local('Amaranth Regular'), local('Amaranth-Regular'), url(./../fonts/amaranth.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* animations */
@-webkit-keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}
@keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}
@-webkit-keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}
@keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}